
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;700&display=swap');
body {
  background: #1f1f29;
  color: #F4F4F9;
  font-family: 'Rubik';
}
::selection {
  background: #3b6e86; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #3b6e86; /* Gecko Browsers */
}
::-webkit-scrollbar{
  width: 20px;
  height: 20px;
}
::-webkit-scrollbar-thumb {
  border: 5px solid transparent;
  background-clip: padding-box;
  border-radius: 100px;
  background-color:#262631;
}
h1 {
  font-size: 2.4rem;
  line-height: 1em;
  margin: 20px 0;
}
p {
  margin: 0;
  color: #9298a0;
  font-size: 18px;
  max-width: 90vw;
  font-weight: 400;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  overflow-y: hidden;
  border-radius: 6px;
  overflow-x: auto;
  width: 90vw;
  max-width: 960px;
  padding-bottom: 16px;
}
.subheader {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-items: center;
  align-items: center;
  margin-bottom: 10px;
  width: 90vw;
  max-width: 960px;
}
#form-button {
  color: #5994af;
  padding: 8px 20px;
  border: solid 1px #5994af;
  border-radius: 4px;
  justify-self: end;
  font-size: 12px;
}
#form-button:hover {
  color:#4f86a0;
  border: solid 1px #4f86a0;
  background-color: #4f86a020;
}
#updatedAt {
  font-size: 16px;
  text-align: center;
}
table {
  font-weight: bold;
  color: #F4F4F9;
  width: 90vw;
  max-width: 960px;
  border-collapse: separate;
  border-spacing: 0;
  background: #262631;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 3px;
  font-size: 18px;
}
table td {
  padding: 5px;
  white-space: nowrap;
  position: relative;
  border-top: 1px solid #1f1f29;
  background-color:#262631;
}
table th {
  color: #9298a0;
  padding: 8px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 16px;
  position: sticky;
  background: #262631;
}
table th:first-child {
  border-top-left-radius: 6px;
}
table th:last-child {
  border-top-right-radius: 6px;
}
table tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
table tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}
table a {
  text-decoration: none;
}
table a p:first-child {
  font-size: 18px;
  color: #F4F4F9;
  font-weight: 500;
}
table a:hover p:first-child {
  color: #d3d3db;
}
table a p:last-child {
  color: #9298a0;
  font-size: 12px;
}
table img {
  height: 42px;
  width: 52px;
}
table div img {
  height: 20px;
  width: 20px;
  position: absolute;
  left: 13px;
  top: 12px;
}
table div svg {
  position: absolute;
}
table div path {
  stroke: #41414d;
  fill: transparent;
  stroke-width: 5px;
}
table td:first-child {
  font-size: 20px;
  padding: 0 20px;
}
table td:last-child {
  padding: 0 10px;
}
table td:last-child span {
  color: #41414d;
}
table td:last-child span:first-child {
  color: #2ec840;
}
table td:last-child span:last-child {
  color: #ff4d00;
}
table td {
  text-align: center;
}
div.extra {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 48px;
  height: 44px;
  color: #9298a0;
  font-weight: 400;
  font-size: 16px;
}
.right-pad {
  padding-right: 25px;
}
.left-pad {
  padding-left: 25px;
}
.left-pad-sm {
  padding-left: 10px;
}
.ranktooltip {
  width: 52px;
}
.tooltiptext {
  white-space: nowrap;
  visibility: hidden;
  opacity: 0;
  background-color: #19191d;
  font-weight: 400;
  font-size: 12px;
  color: #F4F4F9;
  text-align: center;
  border-radius: 4px;
  padding: 4px 8px;
  position: absolute;
  top: 100%;
  transform: translate(calc(-50% + 22px), -5px)
  scale3d(.5,.5,1);
  z-index: 3;
  transition-duration: .2s;
  cursor: default;
}
.tooltip:hover .tooltiptext {
  transform: translate(calc(-50% + 22px))
  scale3d(1,1,1);
  opacity: 1;
  visibility: visible;
}
.ranktooltip:hover .tooltiptext {
  transform: translate(calc(-50% + 26px))
  translate(0, -6px)
  scale3d(1,1,1);
  opacity: 1;
  visibility: visible;
}
.ranktooltip .tooltiptext {
  transform: translate(calc(-50% + 26px))
  translate(0, -11px)
  scale3d(.5,.5,1);
}
#updatedAt .tooltiptext {
  top: unset;
  transform: unset;
  transform: translate(calc(-50% + 110px))
  scale3d(.5,.5,1);
}
#updatedAt:hover .tooltiptext {
  transform: translate(calc(-50% + 110px))
  scale3d(1,1,1);
  opacity: 1;
  visibility: visible;
}
a  {
  color:#5994af;
  text-decoration: none;
}
a:visited  {
  color:#5994af;
}
a:hover  {
  color:#4f86a0;
}
a:active  {
  color:#4f86a0;
}
@media screen and (max-width: 900px) {
  h1 {
    font-size: 1.8rem;
  }
  .stuck {
    z-index: 2;
    min-width: 30px;
    left: 0;
  }
  .edge {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 2px 0 4px -2px rgba(0, 0, 0, 0.2);
    left: 57px;
    overflow-x: hidden;
  }
  .right-pad {
    padding-right: 15px;
  }
  .left-pad {
    padding-left: 15px;
  }
  table td:first-child {
    padding: 0 10px;
  }
}
@media screen and (max-width: 768px) {
  .subheader {
    grid-template-columns: 0fr 2fr 1fr;
  }
  #updatedAt {
    justify-self: start;
  }
}
@media screen and (max-width: 480px) {
  .container {
    width: 100%;
  }
  .edge {
    max-width: 150px;
  }
}
@media screen and (max-width: 420px) {
  .subheader {
    display: flex;
    flex-direction: column;
  }
  #updatedAt {
    align-self: center;
    margin-bottom: 10px;
  }
  .right-pad {
    padding-right: 10px;
  }
}